section.jurochat
    .flex.flex--space-around
        .col-1.order-first
            .project-image

        .col-1
            a(href="https://github.com/priyankamalviya/jurochat" target="_blank").home-cta Jurochat
            p.home-lead.outdented  A jQuery Mobile chat application with a unique to-do feature. Remind your friends to return items in case they forgot!

