section.pixcel
    .flex.flex--space-around
        .col-1.order-first
            .project-image

        .col-1
            a(href="http://pixcelboard.com" target="_blank").home-cta Pixcel
            p.home-lead.outdented  Stream social media content on any screen, from any device.

