section.contact
    .flex.flex--center
        .col-2
            form(action="https://formspree.io/your@email.com" method="POST")
                contact-info-group
                    span.label Your Name
                    input(type="text" name="name")

                    span.label Your Email
                    input(type="email" name="_replyto")

                    span.label Send me a note!
                    textarea(type="text" name="message")
                    div.submit-wrap
                        input(type="submit" value="Send").home-cta

